body {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.btn {
  display: inline-block;
  margin: 15px;
  padding: 10px 25px;
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}
